html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
}

glava {
	margin: 20px;
}

telo {
	flex: auto;
	margin: 10px;
	width: calc(100% - 50px);
	overflow: visible;
	padding: 10px;
	display: block;
}

#igrisce {
	border-style: solid;
	border-color: red;
	box-shadow: 4px 4px gray;
	position: relative;
}

.zogica {
	background-color: black;
	position: absolute;
	display: inline-block;
	border-radius: 50%;
}

#barve > button {
	border: 0px;
	margin: 5px;
}

#start {
	border-style: solid;
	border-color: red;
	box-shadow: 4px 4px gray;
	float: right;
	width: 200px;
	background: white;
	height: 50px;
	font-size: 18px;
}

#novaBarva, #odstraniBarve {
	border-style: solid;
	border-color: red;
	box-shadow: 4px 4px gray;
	background: white;
}
